language: python
dist: bionic
os: linux
python:
  - "3.7"
  - "3.8"
  - "3.10"
services:
  - postgresql
addons:
  postgresql: "9.4"
  apt:
    packages:
      - ffmpeg
install:
  - "pip install -U pip"
  - "pip install -U 'setuptools<=65.1.1'"
  - "pip install -r requirements.txt"
before_script:
  - psql -c 'create database zoudb;' -U postgres
  - mkdir /home/travis/build/cgwire/zou/previews
env:
  - DEBUG=1 MAIL_DEBUG=1 FLASK_APP=zou.app PREVIEW_FOLDER=/home/travis/build/cgwire/zou/previews
script: py.test
