html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    margin: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0;
    background: #fff;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 30px;
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: 2em;
    outline: none;
    background-color: #00b242;
    color: white;
    cursor: pointer;
    padding: 0.75em;
    text-align: center;
    white-space: nowrap;
}

#myBtn:hover {
    background-color: #67be4c;
}

#bottompage {
    display: block;
    position: absolute;
    top: 85px;
    right: 30px;
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: 2em;
    outline: none;
    background-color: #00b242;
    color: white;
    cursor: pointer;
    padding: 0.75em;
    text-align: center;
    white-space: nowrap;
}

#bottompage:hover {
    background-color: #67be4c;
}

.kitsu-title {
    display: block;
    position: inherit;
    font-size: 1.2rem;
    outline: none;
    color: rgb(78, 78, 78);
    padding-top: 0.2em;
    padding-left: 0.5em;
    text-align: center;
    white-space: nowrap;
}

.swagger-ui .info hgroup.main {
    display: none !important;
}

.swagger-ui .markdown code {
    color: #00b242 !important;
}

.swagger-ui .auth-wrapper .markdown p {
    padding-top: 5px;
}

.swagger-ui .topbar-wrapper form {
    display: none !important;
}

#cgwire-logo img {
    height: 32px !important;
    width: 100px !important;
}

#cgwire-logo a {
    padding-left: 20px;
    padding-bottom: 30px;
    text-decoration: none;
} 

#cgwire-logo svg {
    color: #aaa;
}

.float-right {
    display: none;
}

.topbar {
    border-bottom: 1px solid #eaecef;
}

h2 {
    width: fit-content;
    margin-bottom: 0.5em !important;
    margin-top: 1em !important;
    border-bottom: 1px solid #eaecef;
    border-bottom-width: fit-content;
}

.swagger-ui .info .description .markdown ul li {
    padding-bottom: 1em !important;
}

.swagger-ui .markdown div code {
    color: #8a53d1 !important;
}